# WEB SCRAPING – ASSIGNMENT 2

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [36]:
# Import required libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
# connect the web driver
driver = webdriver.Chrome(r'C:\Users\DELL\Downloads\chromedriver_win32\chromedriver.exe')

In [111]:
url = 'https://www.naukri.com/'
driver.get(url)

In [112]:
#finding web element for search job bar
search_job = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_job

In [113]:
#write on search bar
search_job.send_keys('Data Analyst')

In [115]:
#finding web element for search location bar using absolute xpath
#when you have to scrape single element xpath is good 
search_locn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

In [116]:
#finding web element for job location bar
search_locn.send_keys('Bangalore')

In [117]:
#clicking on search button
search_btn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [118]:
search_btn.click()

### Extacting job titles

In [119]:
#let's extract all web elements having job titles
#more than one element so elements keyword is use
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [120]:
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="943b497a7c68c255e74c4c740595d1d8", element="b9c60e47-fc59-46f0-84ef-3ca6db643b9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="943b497a7c68c255e74c4c740595d1d8", element="5999a9a7-7f81-48a5-b786-9ca4d6bc8aea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="943b497a7c68c255e74c4c740595d1d8", element="fcf8a459-f6fd-4282-a451-a0566f015565")>,
 <selenium.webdriver.remote.webelement.WebElement (session="943b497a7c68c255e74c4c740595d1d8", element="186c5aba-e83d-464b-9dc9-d9ccaabf5bc6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="943b497a7c68c255e74c4c740595d1d8", element="79018b8b-d996-415e-818b-35d4a285df0e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="943b497a7c68c255e74c4c740595d1d8", element="ba453c04-4615-4580-8e08-2ee80d979853")>,
 <selenium.webdriver.remote.webelement.WebElement (session="943b497a7c68c255e74c4c740595d1d8", element="d952e57b-857c-4c5f-8482-af75a15312ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="943b497a7c68c255e74c4c740595d1d8", element="0f13bacb-f5c2-49b3-a560-5a62349e0aee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="943b497a7c68c255e74c4c740595d1d8", element="32738063-31ff-47c9-af15-1052a2c8c4e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="943b497a7c68c255e74c4c740595d1d8", element="b6584c4c-a223-4128-ae38-bec10ffd7a7f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="943b497a7c68c255e74c4c740595d1d8", element="2b101ef4-98cf-4616-acb5-2105f5263c25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="943b497a7c68c255e74c4c740595d1d8", element="82565e8e-724b-48ce-91d1-ab55cedd3f5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="943b497a7c68c255e74c4c740595d1d8", element="90029fbc-c037-4db1-b499-ecd8d57fdd4b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="943b497a7c68c255e74c4c740595d1d8", element="8595e668-c03f-403c-af6a-72d7e2cb17c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="943b497a7c68c255e74c4c740595d1d8", element="b371aad4-1a88-4210-922c-aa8439b8b967")>,
 <selenium.webdriver.remote.webelement.WebElement (session="943b497a7c68c255e74c4c740595d1d8", element="e949798e-418e-4b5a-8b91-1e1dc8c272f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="943b497a7c68c255e74c4c740595d1d8", element="51631bc4-d354-469d-932e-d962fe27caa9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="943b497a7c68c255e74c4c740595d1d8", element="55e1b2c3-026c-4bfc-ac41-038a453682f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="943b497a7c68c255e74c4c740595d1d8", element="1ddf004f-eb0e-4dde-a865-a847a2267969")>,
 <selenium.webdriver.remote.webelement.WebElement (session="943b497a7c68c255e74c4c740595d1d8", element="a3674582-befb-433f-8efb-23969f3b9bcd")>]

In [121]:
#no the text of job title is inside the web element extracted above 
#so we will run a for loop to iterate over the tags and will extract text from them
job_titles = []

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)

20

In [122]:
job_titles

['Hiring -Data Analyst, Business Analyst, MIS Analyst -3rd Party Payroll',
 'Data analyst',
 'Pipeline/Piping Data Analyst Trainee',
 'Data Analyst',
 'Senior Data Analyst - Collibra',
 'Hiring For Data Analyst (SQL & Scala) || Coforge',
 'Hiring Data Analyst(Immediate joiner preferred) - Globallogic!',
 'Sr. Data Analyst',
 'Data Analyst- 6-9 Years- Pan India-Permanent position',
 'Data Analyst',
 'Senior Data Analyst II',
 'Senior Data Analyst',
 'DATA ANALYST, IMPACT MEASUREMENT AND MANAGEMENT',
 'Data Analyst',
 'Data Analyst - Platform & Security',
 'Global Tax Automation & Operations - Data Scientist Senior Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Business Analyst (Data Analyst role)']

### Extracting company names

In [123]:
#let's extract all web elements having company names
com_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(com_tags)

20

In [124]:
#so we will run a for loop to iterate over the tags and will extract text from them
com_names = []

for i in com_tags:
    com_names.append(i.text)
len(com_names)

20

In [125]:
com_names

['Flipkart',
 'GSK India',
 'TIMS SOLUTIONS PRIVATE LIMITED',
 'Insure Pro 2.0',
 'Shell',
 'Coforge',
 'GlobalLogic',
 'Born Commerce',
 'Virtusa',
 'Opkey',
 'Flipkart',
 'Flipkart',
 'Upaya Social Ventures',
 'DocsApp',
 'Hotstar',
 'Dell',
 'BERKMEER INDIA PRIVATE LIMITED',
 'Lifesight Technologies Pvt. Ltd.',
 'GSK India',
 'Xpheno']

### Extracting experience

In [126]:
#let's extract all web elements having experience using parent tag
exp_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

20

In [127]:
#so we will run a for loop to iterate over the tags and will extract text from them
experience = []

for i in exp_tags:
    experience.append(i.text)
len(experience)

20

In [128]:
experience

['1-6 Yrs',
 '5-9 Yrs',
 '0-4 Yrs',
 '0-2 Yrs',
 '8-12 Yrs',
 '4-8 Yrs',
 '6-9 Yrs',
 '5-10 Yrs',
 '6-9 Yrs',
 '2-5 Yrs',
 '2-4 Yrs',
 '2-3 Yrs',
 '1-3 Yrs',
 '2-6 Yrs',
 '2-6 Yrs',
 '3-5 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '3-8 Yrs',
 '2-5 Yrs']

### Extracting Location

In [130]:
locn_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [131]:
location = []

for i in locn_tags:
    location.append(i.text)
len(location)

20

In [134]:
location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(HSR Layout +7)',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru, Greater Noida\n(WFH during Covid)',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Jayanagar +3)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru']

### Extracting Salary

In [135]:
sal = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]')
len(sal)

20

In [136]:
salary = []
for i in sal:
    salary.append(i.text)
len(salary)

20

In [68]:
salary

['5,00,000 - 10,00,000 PA.',
 'Not disclosed',
 '2,25,000 - 3,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 '4,00,000 - 9,00,000 PA.',
 'Not disclosed',
 '5,00,000 - 15,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '2,00,000 - 6,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 '4,00,000 - 5,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed']

In [137]:
len(job_titles), len(com_names), len(experience), len(location), len(salary)

(20, 20, 20, 20, 20)

In [138]:
df = pd.DataFrame({'"Job Title"': job_titles, 'Company': com_names, 'Experience': experience, 'Location': location, 'Salary' : salary })
df.head(10)

,"""Job Title""",Company,Experience,Location,Salary
0,"Hiring -Data Analyst, Business Analyst, MIS An...",Flipkart,1-6 Yrs,Bangalore/Bengaluru,"5,00,000 - 10,00,000 PA."
1,Data analyst,GSK India,5-9 Yrs,Bangalore/Bengaluru,Not disclosed
2,Pipeline/Piping Data Analyst Trainee,TIMS SOLUTIONS PRIVATE LIMITED,0-4 Yrs,Bangalore/Bengaluru,"2,25,000 - 3,00,000 PA."
3,Data Analyst,Insure Pro 2.0,0-2 Yrs,Bangalore/Bengaluru(HSR Layout +7),Not disclosed
4,Senior Data Analyst - Collibra,Shell,8-12 Yrs,Bangalore/Bengaluru,Not disclosed
5,Hiring For Data Analyst (SQL & Scala) || Coforge,Coforge,4-8 Yrs,"Mumbai, Bangalore/Bengaluru, Greater Noida\n(W...","4,00,000 - 9,00,000 PA."
6,Hiring Data Analyst(Immediate joiner preferred...,GlobalLogic,6-9 Yrs,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",Not disclosed
7,Sr. Data Analyst,Born Commerce,5-10 Yrs,Bangalore/Bengaluru,"5,00,000 - 15,00,000 PA."
8,Data Analyst- 6-9 Years- Pan India-Permanent p...,Virtusa,6-9 Yrs,"Mumbai, Hyderabad/Secunderabad, Chennai, Banga...",Not disclosed
9,Data Analyst,Opkey,2-5 Yrs,Bangalore/Bengaluru,Not disclosed

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [139]:
# connect the web driver
driver = webdriver.Chrome(r'C:\Users\DELL\Downloads\chromedriver_win32\chromedriver.exe')

In [140]:
url = 'https://www.naukri.com/'
driver.get(url)

In [141]:
search_job = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_job

In [142]:
search_job.send_keys('Data Scientist')

In [143]:
search_locn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

In [145]:
search_locn.send_keys('Bangalore')

In [156]:
search_btn = driver.find_element_by_class_name('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [157]:
search_btn.click()

### Extacting job titles, Company Names, Location, Experience and Salary

In [158]:
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [159]:
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="6032b0c7bb8e705e636062fbc0bc05b2", element="23e6f503-47fb-409f-bc0b-46790cca3ddf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6032b0c7bb8e705e636062fbc0bc05b2", element="9cef885a-b4d6-4747-af39-3ba262b70ca6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6032b0c7bb8e705e636062fbc0bc05b2", element="b54800e6-623a-4bf3-9a47-196559263d4b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6032b0c7bb8e705e636062fbc0bc05b2", element="5bef4961-ba87-4c19-b717-978d5f474a81")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6032b0c7bb8e705e636062fbc0bc05b2", element="34db91ed-6524-4520-8636-c9e5c7705d5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6032b0c7bb8e705e636062fbc0bc05b2", element="f454f7b6-ba22-4a1a-8147-0b318e977182")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6032b0c7bb8e705e636062fbc0bc05b2", element="52f26c3c-b431-42f4-b19b-dc97b61e6dad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6032b0c7bb8e705e636062fbc0bc05b2", element="c96c61c3-1242-4983-916d-243272c1d5d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6032b0c7bb8e705e636062fbc0bc05b2", element="2d4e5925-bad4-4823-8673-4886bcac0bec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6032b0c7bb8e705e636062fbc0bc05b2", element="f800963f-ae72-4b79-b4b5-3f780b04a5ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6032b0c7bb8e705e636062fbc0bc05b2", element="531a1988-1920-439d-939e-c2b5a70b4ead")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6032b0c7bb8e705e636062fbc0bc05b2", element="18375242-f76c-40d4-8683-82341a5c3324")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6032b0c7bb8e705e636062fbc0bc05b2", element="2553473a-8216-4d7d-aa58-1f67fe78ec5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6032b0c7bb8e705e636062fbc0bc05b2", element="84660b92-45c9-4284-a9f1-6ea5523af6dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6032b0c7bb8e705e636062fbc0bc05b2", element="299f2697-9d54-4f1a-8a12-9333b0c8bda9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6032b0c7bb8e705e636062fbc0bc05b2", element="0a95f9e3-9647-4990-85c0-4b0e28f824ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6032b0c7bb8e705e636062fbc0bc05b2", element="dab42277-d12f-46ff-9e07-33439da89c57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6032b0c7bb8e705e636062fbc0bc05b2", element="e0cde7e2-4cb2-48a3-9e6c-56694a091999")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6032b0c7bb8e705e636062fbc0bc05b2", element="5261a21b-d2a9-441a-a434-daca033aa79b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6032b0c7bb8e705e636062fbc0bc05b2", element="79ffee6f-7014-46d0-9d40-86c7919b60d3")>]

In [161]:
job_titles = []

for i in title_tags:
    job_titles.append(i.text)

job_titles

['Global Tax Automation & Operations - Data Scientist Senior Analyst',
 'Associate Data Scientist',
 'Data Scientist / Analyst',
 'Principal Data Scientist',
 'Senior Data Scientist, Speech Synthesis',
 'Senior Data Scientist - Customer Analytics',
 'Senior Data Scientist I',
 'Senior Risk Data Scientist',
 'Data Scientist / ML Engineer',
 'Data Scientist - Lead / Architect - Looking For Early Joiners - Wipro',
 'Sr Data Scientist',
 'Data Scientist I',
 'NLP Data Scientist',
 'Hiring For Sr. Data Scientist. Operation Research - SCM- MNC',
 'Data Scientist: Advanced Analytics',
 'Data Scientist: Advanced Analytics',
 'Data Scientist: Artificial Intelligence',
 'Deputy Manager - Data Scientist',
 'Global Tax Automation & Operations / Data Scientist Advisor',
 'Data Scientist']

In [162]:
com_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(com_tags)

20

In [163]:
com_names = []

for i in com_tags:
    com_names.append(i.text)

com_names

['Dell',
 'Kaplan',
 'Talentify',
 'Signify',
 'NVIDIA',
 'Atlassian',
 'Delhivery',
 'GSK India',
 'AVE-Promagne',
 'Wipro',
 'Fragma data systems pvt ltd',
 'DAZN',
 'Refinitiv',
 'PERSOLKELLY INDIA PRIVATE LIMITED',
 'IBM',
 'IBM',
 'IBM',
 'HDFC LIFE INSURANCE COMPANY LIMITED',
 'Dell',
 'IBM']

In [164]:
exp_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

20

In [165]:
experience = []

for i in exp_tags:
    experience.append(i.text)

experience

['3-5 Yrs',
 '0-3 Yrs',
 '0-1 Yrs',
 '6-12 Yrs',
 '4-7 Yrs',
 '4-8 Yrs',
 '3-7 Yrs',
 '5-10 Yrs',
 '3-8 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '1-3 Yrs',
 '3-6 Yrs',
 '6-11 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '12-15 Yrs',
 '3-7 Yrs',
 '5-7 Yrs',
 '3-4 Yrs']

In [166]:
locn_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [168]:
location = []

for i in locn_tags:
    location.append(i.text)

location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Kota, Mumbai, Chandigarh, Lucknow, Agra, Gurgaon/Gurugram, Jaipur, Bangalore/Bengaluru',
 'Kochi/Cochin, Kolkata, Pune, Gurgaon/Gurugram, Chennai, Coimbatore, Bangalore/Bengaluru, Mumbai (All Areas), Hyderabad',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [169]:
sal = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]')
len(sal)

20

In [170]:
salary = []
for i in sal:
    salary.append(i.text)

salary

['Not disclosed',
 'Not disclosed',
 '65,00,000 - 1 Cr and above PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed']

In [171]:
df = pd.DataFrame({'"Job Title"': job_titles, 'Company': com_names, 'Experience': experience, 'Location': location, 'Salary' : salary })
df.head(10)

,"""Job Title""",Company,Experience,Location,Salary
0,Global Tax Automation & Operations - Data Scie...,Dell,3-5 Yrs,Bangalore/Bengaluru,Not disclosed
1,Associate Data Scientist,Kaplan,0-3 Yrs,Bangalore/Bengaluru,Not disclosed
2,Data Scientist / Analyst,Talentify,0-1 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...","65,00,000 - 1 Cr and above PA."
3,Principal Data Scientist,Signify,6-12 Yrs,Bangalore/Bengaluru,Not disclosed
4,"Senior Data Scientist, Speech Synthesis",NVIDIA,4-7 Yrs,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",Not disclosed
5,Senior Data Scientist - Customer Analytics,Atlassian,4-8 Yrs,Bangalore/Bengaluru,Not disclosed
6,Senior Data Scientist I,Delhivery,3-7 Yrs,Bangalore/Bengaluru,Not disclosed
7,Senior Risk Data Scientist,GSK India,5-10 Yrs,Bangalore/Bengaluru,Not disclosed
8,Data Scientist / ML Engineer,AVE-Promagne,3-8 Yrs,"Noida, Kota, Mumbai, Chandigarh, Lucknow, Agra...",Not disclosed
9,Data Scientist - Lead / Architect - Looking Fo...,Wipro,5-10 Yrs,"Kochi/Cochin, Kolkata, Pune, Gurgaon/Gurugram,...",Not disclosed

Q3: In this question you have to scrape data using the filters available on the webpage as shown below
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [172]:
driver = webdriver.Chrome(r'C:\Users\DELL\Downloads\chromedriver_win32\chromedriver.exe')

In [173]:
url = 'https://www.naukri.com/'
driver.get(url)

In [174]:
search_job = driver.find_element_by_class_name('suggestor-input')
search_job

In [175]:
search_job.send_keys('Data Scientist')

In [176]:
search_btn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn
search_btn.click()

CLICKING FILTERS BY SELECTING CHECK BOXES USING ABSOLUTE xpath

In [178]:
sal_check = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
sal_check.click()

In [180]:
loc_check = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]/label/i')
loc_check.click()

### Extacting job titles, Location, Company Names and Experience

In [181]:
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

job_titles = []

for i in title_tags:
    job_titles.append(i.text)

job_titles

['Data Scientist II',
 'Opening For Data Scientist',
 'Data & Applied Scientist',
 'Data and applied Scientist',
 'Data Scientist',
 'Data Scientist / Senior DS/ Team Lead',
 'Data Scientist Internship',
 'Data Scientist',
 'Data Scientist (ML AI Engineer) / InfoObjects Inc.',
 'Urgent Requirement || Data Scientist || Noida',
 'Data Analyst / Data Scientist / Business Analytics / Fresher - MNC',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Lead Data Scientist - KYC/Fraud/Marketing',
 'Data Scientist role',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [ ]:
locn_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

location = []

for i in locn_tags:
    location.append(i.text)

location

In [182]:
com_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

com_names = []

for i in com_tags:
    com_names.append(i.text)

com_names

['Chegg',
 'Care Health Insurance',
 'Microsoft',
 'Microsoft',
 'Stefanini',
 'NebulARC Technologies Private Limited',
 'iHackers Inc',
 'Cloudstrats Technologies Private Limited',
 'INFOOBJECTS SOFTWARE ( INDIA) PRIVATE LIMITED',
 'HCL',
 'GABA Consultancy services',
 'Boston Consulting Group',
 'Kyndryl',
 'iNICU',
 'Tide Software',
 'Mount Talent Consulting Private Limited',
 'BlackBuck',
 'Country Veggie',
 'Mahajan Imaging',
 'Mahajan Imaging']

In [183]:
exp_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')

experience = []

for i in exp_tags:
    experience.append(i.text)

experience

['2-6 Yrs',
 '1-5 Yrs',
 '3-7 Yrs',
 '3-7 Yrs',
 '3-8 Yrs',
 '0-4 Yrs',
 '0-1 Yrs',
 '3-5 Yrs',
 '3-7 Yrs',
 '3-8 Yrs',
 '0-0 Yrs',
 '2-5 Yrs',
 '6-11 Yrs',
 '1-5 Yrs',
 '1-6 Yrs',
 '1-3 Yrs',
 '3-7 Yrs',
 '1-3 Yrs',
 '2-6 Yrs',
 '2-6 Yrs']

In [184]:
len(job_titles), len(com_names), len(location), len(experience)

(20, 20, 20, 20)

In [185]:
df = pd.DataFrame({'"Job Title"': job_titles, 'Company': com_names, 'Experience': experience, 'Location': location })
df.head(10)

,"""Job Title""",Company,Experience,Location
0,Data Scientist II,Chegg,2-6 Yrs,Bangalore/Bengaluru
1,Opening For Data Scientist,Care Health Insurance,1-5 Yrs,Bangalore/Bengaluru
2,Data & Applied Scientist,Microsoft,3-7 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D..."
3,Data and applied Scientist,Microsoft,3-7 Yrs,Bangalore/Bengaluru
4,Data Scientist,Stefanini,3-8 Yrs,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru"
5,Data Scientist / Senior DS/ Team Lead,NebulARC Technologies Private Limited,0-4 Yrs,Bangalore/Bengaluru
6,Data Scientist Internship,iHackers Inc,0-1 Yrs,Bangalore/Bengaluru
7,Data Scientist,Cloudstrats Technologies Private Limited,3-5 Yrs,Bangalore/Bengaluru
8,Data Scientist (ML AI Engineer) / InfoObjects ...,INFOOBJECTS SOFTWARE ( INDIA) PRIVATE LIMITED,3-7 Yrs,"Noida, Kota, Mumbai, Chandigarh, Lucknow, Agra..."
9,Urgent Requirement || Data Scientist || Noida,HCL,3-8 Yrs,"Kochi/Cochin, Kolkata, Pune, Gurgaon/Gurugram,..."

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses

In [313]:
driver = webdriver.Chrome(r'C:\Users\DELL\Downloads\chromedriver_win32\chromedriver.exe')
url = 'https://www.flipkart.com/'
driver.get(url)

In [314]:
close_btn = driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
close_btn
close_btn.click()

In [315]:
search = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search

In [316]:
search.send_keys('sunglasses')

In [317]:
srch_btn = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
srch_btn
srch_btn.click()

### Extacting brand, Product Description and Price

In [318]:
brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

brand_name = []

for i in brand:
    brand_name.append(i.text)

brand_name

['VINCENT CHASE',
 'ROZZETTA CRAFT',
 'Elligator',
 'SHAAH COLLECTIONS',
 'SUNBEE',
 'SUNBEE',
 'Fastrack',
 'ROZZETTA CRAFT',
 'SRPM',
 'New Specs',
 'kingsunglasses',
 'VINCENT CHASE',
 'Fastrack',
 'PIRASO',
 'PIRASO',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'Johaena',
 'SHAAH COLLECTIONS',
 'VINCENT CHASE',
 'PHENOMENAL',
 'PIRASO',
 'Elligator',
 'VINCENT CHASE',
 'PHENOMENAL',
 'SUNBEE',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'DEIXELS',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'maxa',
 'Elligator',
 'VINCENT CHASE',
 'New Specs',
 'GANSTA',
 'kingsunglasses',
 'VINCENT CHASE']

In [319]:
description = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

pro_des = []

for i in description:
    pro_des.append(i.text)

pro_des

['by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'Riding Glasses, UV Protection Oval Sunglasses (48)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'by Lenskart UV Protection Aviator Sunglasses (53)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Round Sunglasses (53)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'Polarized, Night Vision, Riding Glasses Sports, Wrap-ar...',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular, Wayfarer, Ov...',
 'UV Protection Round Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...']

In [320]:
price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

pro_price = []

for i in price:
    pro_price.append(i.text)

pro_price

['₹1,179',
 '₹426',
 '₹248',
 '₹165',
 '₹243',
 '₹271',
 '₹599',
 '₹499',
 '₹188',
 '₹234',
 '₹186',
 '₹1,179',
 '₹639',
 '₹229',
 '₹225',
 '₹330',
 '₹299',
 '₹146',
 '₹181',
 '₹849',
 '₹309',
 '₹225',
 '₹189',
 '₹1,415',
 '₹299',
 '₹235',
 '₹689',
 '₹616',
 '₹265',
 '₹202',
 '₹474',
 '₹449',
 '₹229',
 '₹144',
 '₹265',
 '₹849',
 '₹232',
 '₹269',
 '₹179',
 '₹679']

In [321]:
len(brand_name), len(pro_des), len(pro_price)

(40, 40, 40)

In [322]:
df = pd.DataFrame({'"Brand"': brand_name, 'Description': pro_des, 'Price': pro_price})
df

,"""Brand""",Description,Price
0,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...","₹1,179"
1,ROZZETTA CRAFT,UV Protection Round Sunglasses (Free Size),₹426
2,Elligator,UV Protection Round Sunglasses (54),₹248
3,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹165
4,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹243
5,SUNBEE,"UV Protection, Polarized, Mirrored Round Sungl...",₹271
6,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹599
7,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹499
8,SRPM,UV Protection Wayfarer Sunglasses (50),₹188
9,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹234
10,kingsunglasses,UV Protection Round Sunglasses (54),₹186
11,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...","₹1,179"
12,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹639
13,PIRASO,UV Protection Aviator Sunglasses (54),₹229
14,PIRASO,UV Protection Aviator Sunglasses (54),₹225
15,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹330
16,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹299
17,Johaena,"Riding Glasses, UV Protection Oval Sunglasses ...",₹146
18,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹181
19,VINCENT CHASE,by Lenskart UV Protection Aviator Sunglasses (53),₹849
20,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹309
21,PIRASO,UV Protection Aviator Sunglasses (54),₹225
22,Elligator,UV Protection Round Sunglasses (53),₹189
23,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...","₹1,415"
24,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹299
25,SUNBEE,"UV Protection, Polarized, Mirrored Retro Squar...",₹235
26,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹689
27,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (Free Size),₹616
28,PHENOMENAL,UV Protection Retro Square Sunglasses (53),₹265
29,DEIXELS,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",₹202
30,ROZZETTA CRAFT,"Polarized, Night Vision, Riding Glasses Sports...",₹474
31,ROZZETTA CRAFT,"UV Protection, Riding Glasses Rectangular Sung...",₹449
32,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹229
33,maxa,"UV Protection, Riding Glasses Rectangular, Way...",₹144
34,Elligator,UV Protection Round Sunglasses (54),₹265
35,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹849
36,New Specs,UV Protection Round Sunglasses (Free Size),₹232
37,GANSTA,UV Protection Aviator Sunglasses (57),₹269
38,kingsunglasses,"UV Protection, Riding Glasses, Mirrored Wayfar...",₹179
39,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹679

In [323]:
next_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_btn
next_btn.click()

In [324]:
brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

brand_name = []

for i in brand:
    brand_name.append(i.text)

brand_name

['PIRASO',
 'ROZZETTA CRAFT',
 'Lee Topper',
 'VINCENT CHASE',
 'kingsunglasses',
 'Fastrack',
 'Rich Club',
 'VILLAIN',
 'kingsunglasses',
 'Singco India',
 'New Specs',
 'Kanishka',
 'PIRASO',
 'Elligator',
 'Fastrack',
 'VINCENT CHASE',
 'Lee Topper',
 'kingsunglasses',
 'New Specs',
 'VINCENT CHASE',
 'agera',
 'Johaena',
 'ROYAL SON',
 'VINCENT CHASE',
 'ROYAL SON',
 'hipe',
 'Silver Kartz',
 'VINCENT CHASE',
 'Elligator',
 'kingsunglasses',
 'Singco India',
 'ROZZETTA CRAFT',
 'Fastrack',
 'kingsunglasses',
 'SRPM',
 'Singco India',
 'Fastrack',
 'Rich Club',
 'ROZZETTA CRAFT',
 'VINCENT CHASE']

In [325]:
description = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

pro_des = []

for i in description:
    pro_des.append(i.text)

pro_des

['UV Protection Wayfarer Sunglasses (32)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'Polarized Round Sunglasses (48)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection Retro Square, Rectangular, Shield Sunglas...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Aviator Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'by Lenskart UV Protection Wayfarer Sunglasses (49)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'Gradient Aviator Sunglasses (55)',
 'Riding Glasses, UV Protection Oval Sunglasses (52)',
 'UV Protection Rectangular Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'Mirrored Aviator Sunglasses (55)',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'UV Protection Aviator Sunglasses (88)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Round Sunglasses (50)',
 'UV Protection, Others Round, Aviator Sunglasses (54)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'Mirrored, UV Protection Aviator Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection, Riding Glasses, Others Wayfarer, Retro S...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (48)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...']

In [326]:
price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

pro_price = []

for i in price:
    pro_price.append(i.text)

pro_price

['₹225',
 '₹383',
 '₹199',
 '₹1,303',
 '₹180',
 '₹494',
 '₹165',
 '₹1,099',
 '₹276',
 '₹203',
 '₹259',
 '₹150',
 '₹299',
 '₹263',
 '₹692',
 '₹1,179',
 '₹276',
 '₹170',
 '₹156',
 '₹679',
 '₹196',
 '₹156',
 '₹449',
 '₹1,415',
 '₹359',
 '₹189',
 '₹255',
 '₹1,415',
 '₹230',
 '₹174',
 '₹664',
 '₹426',
 '₹719',
 '₹209',
 '₹207',
 '₹299',
 '₹599',
 '₹220',
 '₹342',
 '₹1,415']

In [329]:
len(brand_name), len(pro_des), len(pro_price)

(40, 39, 40)

In [377]:
df = pd.DataFrame({'"Brand"': brand_name, 'Price': pro_price})
df

                  "Brand"   Price
0                RapidBox    ₹630
1          FLYING MACHINE  ₹1,499
2                  BRUTON    ₹599
3                  Chevit    ₹649
4                  BRUTON    ₹189
5     World Wear Footwear    ₹199
6                  BRUTON    ₹259
7                Roadster  ₹1,399
8                   CLYMB    ₹249
9                  Labbin    ₹474
10              SCATCHITE    ₹377
11  HRX by Hrithik Roshan  ₹2,499
12                  CLYMB    ₹259
13                 Chevit    ₹489
14                 BRUTON    ₹449
15              PACIFIKOT    ₹399
16                  BIRDE    ₹299
17               ASTEROID    ₹474
18                 DRESTA    ₹448
19               sixXplus    ₹599
20             Shoes Bank    ₹345
21                Numenzo    ₹426
22                   PUMA  ₹3,849
23               RapidBox    ₹640
24    World Wear Footwear    ₹259
25                Noztile    ₹429
26         luxury fashion    ₹429
27  HRX by Hrithik Roshan  ₹2,299
28                 BRUTON    ₹499
29               RapidBox    ₹680
30                  Xtoon    ₹499
31         FLYING MACHINE  ₹2,248
32               URBANBOX    ₹247
33                 BRUTON    ₹259
34                 Kraasa    ₹499
35              bluemaker    ₹499
36                 Rzisbo    ₹549
37                 Kraasa    ₹499
38                   aadi    ₹399
39  HRX by Hrithik Roshan  ₹2,699

In [330]:
next_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
next_btn
next_btn.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span"}
  (Session info: chrome=98.0.4758.82)
Stacktrace:
Backtrace:
	Ordinal0 [0x01017AC3+2587331]
	Ordinal0 [0x00FAADD1+2141649]
	Ordinal0 [0x00EA3BB8+1063864]
	Ordinal0 [0x00ED01CE+1245646]
	Ordinal0 [0x00ED03CB+1246155]
	Ordinal0 [0x00EFA612+1418770]
	Ordinal0 [0x00EE86D4+1345236]
	Ordinal0 [0x00EF8A0A+1411594]
	Ordinal0 [0x00EE84A6+1344678]
	Ordinal0 [0x00EC53F6+1201142]
	Ordinal0 [0x00EC62E6+1204966]
	GetHandleVerifier [0x011BDF22+1680738]
	GetHandleVerifier [0x01270DBC+2413564]
	GetHandleVerifier [0x010AD151+563089]
	GetHandleVerifier [0x010ABF13+558419]
	Ordinal0 [0x00FB081E+2164766]
	Ordinal0 [0x00FB5508+2184456]
	Ordinal0 [0x00FB5650+2184784]
	Ordinal0 [0x00FBF5BC+2225596]
	BaseThreadInitThunk [0x7719FA29+25]
	RtlGetAppContainerNamedObjectPath [0x775D7A9E+286]
	RtlGetAppContainerNamedObjectPath [0x775D7A6E+238]

In [331]:
brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

brand_name = []

for i in brand:
    brand_name.append(i.text)

brand_name

['PIRASO',
 'ROZZETTA CRAFT',
 'Lee Topper',
 'VINCENT CHASE',
 'kingsunglasses',
 'Fastrack',
 'Rich Club',
 'VILLAIN',
 'kingsunglasses',
 'Singco India',
 'New Specs',
 'Kanishka',
 'PIRASO',
 'Elligator',
 'Fastrack',
 'VINCENT CHASE',
 'Lee Topper',
 'kingsunglasses',
 'New Specs',
 'VINCENT CHASE',
 'agera',
 'Johaena',
 'ROYAL SON',
 'VINCENT CHASE',
 'ROYAL SON',
 'hipe',
 'Silver Kartz',
 'VINCENT CHASE',
 'Elligator',
 'kingsunglasses',
 'Singco India',
 'ROZZETTA CRAFT',
 'Fastrack',
 'kingsunglasses',
 'SRPM',
 'Singco India',
 'Fastrack',
 'Rich Club',
 'ROZZETTA CRAFT',
 'VINCENT CHASE']

In [303]:
description = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

pro_des = []

for i in description:
    pro_des.append(i.text)

pro_des

['UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized Round Sunglasses (48)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized Butterfly Sunglasses (Free Size)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Riding Glasses, UV Protection Oval Sunglasses (52)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Gradient Aviator Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection Round Sunglasses (50)',
 'UV Protection Aviator Sunglasses (88)',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'Mirrored Aviator Sunglasses (55)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection, Gradient Aviator Sunglasses (50)',
 'UV Protection Shield Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'UV Protection, Others Round, Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Mirrored, UV Protection Aviator Sunglasses (56)',
 'UV Protection Round Sunglasses (48)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Cat-eye Sunglasses (58)']

In [304]:
price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

pro_price = []

for i in price:
    pro_price.append(i.text)

pro_price

['₹199',
 '₹180',
 '₹494',
 '₹426',
 '₹276',
 '₹165',
 '₹299',
 '₹498',
 '₹259',
 '₹170',
 '₹225',
 '₹354',
 '₹276',
 '₹692',
 '₹156',
 '₹1,533',
 '₹156',
 '₹196',
 '₹449',
 '₹679',
 '₹179',
 '₹230',
 '₹255',
 '₹1,099',
 '₹189',
 '₹203',
 '₹359',
 '₹1,415',
 '₹664',
 '₹263',
 '₹719',
 '₹679',
 '₹174',
 '₹599',
 '₹207',
 '₹335',
 '₹209',
 '₹220',
 '₹199',
 '₹459']

In [305]:
len(brand_name), len(pro_des), len(pro_price)

(40, 39, 40)

In [ ]:
df = pd.DataFrame({'"Brand"': brand_name, 'Description': pro_des, 'Price': pro_price})
df

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-poweradapter/p/itm0f37c2240b217pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage 
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [354]:
driver = webdriver.Chrome(r'C:\Users\DELL\Downloads\chromedriver_win32\chromedriver.exe')
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.'
driver.get(url)

### Extracting Rating, Review Summary and Full Review

In [355]:
pro_rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

rating = []

for i in pro_rating:
    rating.append(i.text)

rating

['5', '5', '5', '', '', '', '', '', '', '']

In [356]:
review_summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')

summary = []

for i in review_summary:
    summary.append(i.text)

summary

['Brilliant',
 'Simply awesome',
 'Best in the market!',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [357]:
pro_review = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')

review = []

for i in pro_review:
    review.append(i.text)

review

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [381]:
len(rating), len(summary), len(review)

(10, 10, 10)

In [383]:
df = pd.DataFrame({'Product Rating': rating, 'Review Summary': summary, 'Full Review': review})
df

,Product Rating,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,,,
4,,,
5,,,
6,,,
7,,,
8,,,
9,,,

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes

In [369]:
driver = webdriver.Chrome(r'C:\Users\DELL\Downloads\chromedriver_win32\chromedriver.exe')
url = 'https://www.flipkart.com/'
driver.get(url)

In [370]:
close_btn = driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
close_btn
close_btn.click()

In [371]:
search = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search

In [372]:
search.send_keys("sneakers")

In [373]:
srch_btn = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
srch_btn
srch_btn.click()

### Extracting Data

In [374]:
brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

brand_name = []

for i in brand:
    brand_name.append(i.text)

brand_name

['RapidBox',
 'FLYING MACHINE',
 'BRUTON',
 'Chevit',
 'BRUTON',
 'World Wear Footwear',
 'BRUTON',
 'Roadster',
 'CLYMB',
 'Labbin',
 'SCATCHITE',
 'HRX by Hrithik Roshan',
 'CLYMB',
 'Chevit',
 'BRUTON',
 'PACIFIKOT',
 'BIRDE',
 'ASTEROID',
 'DRESTA',
 'sixXplus',
 'Shoes Bank',
 'Numenzo',
 'PUMA',
 'RapidBox',
 'World Wear Footwear',
 'Noztile',
 'luxury fashion',
 'HRX by Hrithik Roshan',
 'BRUTON',
 'RapidBox',
 'Xtoon',
 'FLYING MACHINE',
 'URBANBOX',
 'BRUTON',
 'Kraasa',
 'bluemaker',
 'Rzisbo',
 'Kraasa',
 'aadi',
 'HRX by Hrithik Roshan']

In [375]:
description = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')

pro_des = []

for i in description:
    pro_des.append(i.text)

pro_des

['Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers Sneakers...',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Men Blue Solid Sneakers Sneakers For Men',
 "Perfect Sports Shoes for Men's Running ,Cycling & Trekk...",
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Men White Printed Sneakers Sneakers For Men',
 'Sports/Running/Training/Gym Sneakers For Men',
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 'Sports Running Shoes Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 "White Sneaker For Men's/Boy's Sneakers For Men",
 '411 Casual Sneakers For Men',
 'X-Ray Millenium Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Luxury Fashionable casual shoes Sneakers For Men',
 'Men White Red Solid Sneakers Sneakers For Men',
 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...',
 "white Casual shoes,Sneakers for men's Sneakers For Men",
 'Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'casual for men (beige 10) Sneakers For Men',
 'Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Sneakers For Men',
 'Men Grey Woven Design Sneakers Sneakers For Men']

In [376]:
price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

pro_price = []

for i in price:
    pro_price.append(i.text)

pro_price

['₹630',
 '₹1,499',
 '₹599',
 '₹649',
 '₹189',
 '₹199',
 '₹259',
 '₹1,399',
 '₹249',
 '₹474',
 '₹377',
 '₹2,499',
 '₹259',
 '₹489',
 '₹449',
 '₹399',
 '₹299',
 '₹474',
 '₹448',
 '₹599',
 '₹345',
 '₹426',
 '₹3,849',
 '₹640',
 '₹259',
 '₹429',
 '₹429',
 '₹2,299',
 '₹499',
 '₹680',
 '₹499',
 '₹2,248',
 '₹247',
 '₹259',
 '₹499',
 '₹499',
 '₹549',
 '₹499',
 '₹399',
 '₹2,699']

In [379]:
len(brand_name),len(pro_des), len(pro_price)

(40, 33, 40)

In [380]:
df = pd.DataFrame({'"Brand"': brand_name, 'Price': pro_price})
df

                  "Brand"   Price
0                RapidBox    ₹630
1          FLYING MACHINE  ₹1,499
2                  BRUTON    ₹599
3                  Chevit    ₹649
4                  BRUTON    ₹189
5     World Wear Footwear    ₹199
6                  BRUTON    ₹259
7                Roadster  ₹1,399
8                   CLYMB    ₹249
9                  Labbin    ₹474
10              SCATCHITE    ₹377
11  HRX by Hrithik Roshan  ₹2,499
12                  CLYMB    ₹259
13                 Chevit    ₹489
14                 BRUTON    ₹449
15              PACIFIKOT    ₹399
16                  BIRDE    ₹299
17               ASTEROID    ₹474
18                 DRESTA    ₹448
19               sixXplus    ₹599
20             Shoes Bank    ₹345
21                Numenzo    ₹426
22                   PUMA  ₹3,849
23               RapidBox    ₹640
24    World Wear Footwear    ₹259
25                Noztile    ₹429
26         luxury fashion    ₹429
27  HRX by Hrithik Roshan  ₹2,299
28                 BRUTON    ₹499
29               RapidBox    ₹680
30                  Xtoon    ₹499
31         FLYING MACHINE  ₹2,248
32               URBANBOX    ₹247
33                 BRUTON    ₹259
34                 Kraasa    ₹499
35              bluemaker    ₹499
36                 Rzisbo    ₹549
37                 Kraasa    ₹499
38                   aadi    ₹399
39  HRX by Hrithik Roshan  ₹2,699

Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image

In [390]:
driver = webdriver.Chrome(r'C:\Users\DELL\Downloads\chromedriver_win32\chromedriver.exe')
url = 'https://www.myntra.com/shoes'
driver.get(url)

Clicking on filters by code

In [391]:
price_check = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_check.click()

In [392]:
color_check = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_check.click()

### Extracting Data

In [394]:

shoebrand = driver.find_elements_by_xpath('//h3[@class="product-brand"]')

brand_name = []

for i in shoebrand:
    brand_name.append(i.text)

brand_name

['Nike',
 'ALDO',
 'Nike',
 'Tommy Hilfiger',
 'Puma',
 'Nike',
 'Puma',
 'Nike',
 'Tommy Hilfiger',
 'Tommy Hilfiger',
 'Puma',
 'Puma',
 'Tommy Hilfiger',
 'New Balance',
 'RARE RABBIT',
 'ALDO',
 'Puma',
 'PUMA Motorsport',
 'Skechers',
 'Puma',
 'Hush Puppies',
 'New Balance',
 'Tommy Hilfiger',
 'Reebok',
 'Hush Puppies',
 'Bugatti',
 'Puma',
 'New Balance',
 'RARE RABBIT',
 'Hush Puppies',
 'Saint G',
 'ASICS',
 'Saint G',
 'Bugatti',
 'Xtep',
 'Bugatti',
 'Hush Puppies',
 'Hush Puppies',
 'DAVINCHI',
 'Hush Puppies',
 'Saint G',
 'Saint G',
 'Clarks',
 'Puma',
 'Geox',
 'New Balance',
 'Royal Enfield',
 'J.FONTINI',
 'J.FONTINI',
 'Heel & Buckle London']

In [395]:
description = driver.find_elements_by_xpath('//h4[@class="product-product"]')

shoe_des = []

for i in description:
    shoe_des.append(i.text)
shoe_des

['Men AIR ZOOM PEGASUS 38',
 'Men Printed Sneakers',
 'Unisex Metcon 7 Training Shoes',
 'Men Leather Sneakers',
 'Men Running Shoes',
 'Men Zoom F3 Basketball Shoes',
 'Men Jamming 2.0 Running Shoes',
 'Men Blazer Court Skateboarding',
 'Men Leather Sneakers',
 'Men Textured Loafers',
 'Men Magnify Nitro Running',
 'Men Deviate Nitro Running Shoe',
 'Men Leather Sneakers',
 'Men Woven Design Running Shoes',
 'Men Leather Slip-On Sneakers',
 'Wedge Sandals',
 'Men Training or Gym Shoes',
 'Unisex Ferrari Drift8 Sneakers',
 'Men Go Run Hyper Burst Running',
 'Women Magnify Nitro Shoes',
 'Men Solid Leather Formal Slip-Ons',
 'Men Woven Design Running Shoes',
 'Leather Sandals',
 'Men Astroride Forever Running',
 'Men Perforations Leather Slip-On Sneakers',
 'Men Black Walking Shoes',
 'Women Eternity NITRO Shoes',
 'Men Woven Design Running Shoes',
 'Men Leather Flat Boots',
 'Men Solid Leather Formal Derbys',
 'Men Mid-Top Chelsea Boots',
 'Men Colourblocked PU Sneakers',
 'Men Leather Chelsea Boots',
 'Men Textured Leather High-Top Flat Boots',
 'Men Running Shoes',
 'Men Walking Shoes',
 'Men Leather Derbys',
 'Men Formal Derbys',
 'Ustraa black',
 'Men Solid Formal Slip-Ons',
 'Women Leather Heeled Boots',
 'Women Leather Heeled Boots',
 'Men Leather Formal Loafers',
 'Women Velocity NITRO Runners',
 'Men Leather Driving Shoes',
 'Women Woven Running Shoes',
 'Cabo WP Riding Boots',
 'Men Textured Leather Loafers',
 'Men Black Leather Loafers',
 'Men Solid Leather Formal Loafers']

In [400]:
price = driver.find_elements_by_xpath('//div[@class="product-price"]')

shoe_price = []

for i in price:
    shoe_price.append(i.text)

shoe_price

['Rs. 9770Rs. 11495(15% OFF)',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 9770Rs. 11495(15% OFF)',
 'Rs. 7999',
 'Rs. 12999',
 'Rs. 9260Rs. 10895(15% OFF)',
 'Rs. 12999',
 'Rs. 7495',
 'Rs. 7999',
 'Rs. 8599',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 9749Rs. 14999(35% OFF)',
 'Rs. 7999',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 7224Rs. 8499(15% OFF)',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 8999',
 'Rs. 8799Rs. 10999(20% OFF)',
 'Rs. 7599',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 7999',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 12999',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 9999',
 'Rs. 10500Rs. 10900(Rs. 400 OFF)',
 'Rs. 9999',
 'Rs. 10710Rs. 11900(Rs. 1190 OFF)',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 7699',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 8990',
 'Rs. 9999',
 'Rs. 11473Rs. 14900(23% OFF)',
 'Rs. 12325Rs. 14500(15% OFF)',
 'Rs. 7499',
 'Rs. 7149Rs. 10999(35% OFF)',
 'Rs. 9999',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 8500',
 'Rs. 8490',
 'Rs. 8490',
 'Rs. 10791Rs. 11990(10% OFF)']

In [401]:
len(brand_name),len(shoe_des), len(shoe_price)

(50, 50, 50)

In [402]:
df = pd.DataFrame({'"Brand"': brand_name,"Description": shoe_des, 'Price': shoe_price})
df

,"""Brand""",Description,Price
0,Nike,Men AIR ZOOM PEGASUS 38,Rs. 9770Rs. 11495(15% OFF)
1,ALDO,Men Printed Sneakers,Rs. 9099Rs. 12999(30% OFF)
2,Nike,Unisex Metcon 7 Training Shoes,Rs. 9770Rs. 11495(15% OFF)
3,Tommy Hilfiger,Men Leather Sneakers,Rs. 7999
4,Puma,Men Running Shoes,Rs. 12999
5,Nike,Men Zoom F3 Basketball Shoes,Rs. 9260Rs. 10895(15% OFF)
6,Puma,Men Jamming 2.0 Running Shoes,Rs. 12999
7,Nike,Men Blazer Court Skateboarding,Rs. 7495
8,Tommy Hilfiger,Men Leather Sneakers,Rs. 7999
9,Tommy Hilfiger,Men Textured Loafers,Rs. 8599
10,Puma,Men Magnify Nitro Running,Rs. 7799Rs. 12999(40% OFF)
11,Puma,Men Deviate Nitro Running Shoe,Rs. 9749Rs. 14999(35% OFF)
12,Tommy Hilfiger,Men Leather Sneakers,Rs. 7999
13,New Balance,Men Woven Design Running Shoes,Rs. 7999Rs. 9999(20% OFF)
14,RARE RABBIT,Men Leather Slip-On Sneakers,Rs. 7999
15,ALDO,Wedge Sandals,Rs. 7999
16,Puma,Men Training or Gym Shoes,Rs. 7999
17,PUMA Motorsport,Unisex Ferrari Drift8 Sneakers,Rs. 7999
18,Skechers,Men Go Run Hyper Burst Running,Rs. 7224Rs. 8499(15% OFF)
19,Puma,Women Magnify Nitro Shoes,Rs. 7799Rs. 12999(40% OFF)
20,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8999
21,New Balance,Men Woven Design Running Shoes,Rs. 8799Rs. 10999(20% OFF)
22,Tommy Hilfiger,Leather Sandals,Rs. 7599
23,Reebok,Men Astroride Forever Running,Rs. 7199Rs. 7999(10% OFF)
24,Hush Puppies,Men Perforations Leather Slip-On Sneakers,Rs. 7999
25,Bugatti,Men Black Walking Shoes,Rs. 7199Rs. 8999(20% OFF)
26,Puma,Women Eternity NITRO Shoes,Rs. 12999
27,New Balance,Men Woven Design Running Shoes,Rs. 7999Rs. 9999(20% OFF)
28,RARE RABBIT,Men Leather Flat Boots,Rs. 7999Rs. 9999(20% OFF)
29,Hush Puppies,Men Solid Leather Formal Derbys,Rs. 9999
30,Saint G,Men Mid-Top Chelsea Boots,Rs. 10500Rs. 10900(Rs. 400 OFF)
31,ASICS,Men Colourblocked PU Sneakers,Rs. 9999
32,Saint G,Men Leather Chelsea Boots,Rs. 10710Rs. 11900(Rs. 1190 OFF)
33,Bugatti,Men Textured Leather High-Top Flat Boots,Rs. 8399Rs. 11999(30% OFF)
34,Xtep,Men Running Shoes,Rs. 7699
35,Bugatti,Men Walking Shoes,Rs. 7199Rs. 8999(20% OFF)
36,Hush Puppies,Men Leather Derbys,Rs. 7999
37,Hush Puppies,Men Formal Derbys,Rs. 9999
38,DAVINCHI,Ustraa black,Rs. 8990
39,Hush Puppies,Men Solid Formal Slip-Ons,Rs. 9999
40,Saint G,Women Leather Heeled Boots,Rs. 11473Rs. 14900(23% OFF)
41,Saint G,Women Leather Heeled Boots,Rs. 12325Rs. 14500(15% OFF)
42,Clarks,Men Leather Formal Loafers,Rs. 7499
43,Puma,Women Velocity NITRO Runners,Rs. 7149Rs. 10999(35% OFF)
44,Geox,Men Leather Driving Shoes,Rs. 9999
45,New Balance,Women Woven Running Shoes,Rs. 7199Rs. 8999(20% OFF)
46,Royal Enfield,Cabo WP Riding Boots,Rs. 8500
47,J.FONTINI,Men Textured Leather Loafers,Rs. 8490
48,J.FONTINI,Men Black Leather Loafers,Rs. 8490
49,Heel & Buckle London,Men Solid Leather Formal Loafers,Rs. 10791Rs. 11990(10% OFF)

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes

In [440]:
driver = webdriver.Chrome(r'C:\Users\DELL\Downloads\chromedriver_win32\chromedriver.exe')
url = 'https://www.amazon.in/'
driver.get(url)

In [441]:
search_icon = driver.find_element_by_xpath('//input[@type="text"]')
search_icon

In [442]:
search_icon.send_keys("Laptop")

In [443]:
search_btn = driver.find_element_by_xpath('//input[@id="nav-search-submit-button"]')
search_btn
search_btn.click()

In [444]:
CPUType_check = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[3]/li[13]/span/a/div/label/i')
CPUType_check.click()

### Extracting Data

In [445]:
title = driver.find_elements_by_xpath('//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')

brand_name = []

for i in title:
    brand_name.append(i.text)

brand_name

['ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 240Hz, Intel Core i9-11900H 11th Gen, GeForce RTX 3060 6GB Graphics, Gaming Laptop(16GB/1TB SSD/Office 2019/Windows 10/Gray/2.3 Kg), FX566HM-AZ096TS',
 'ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 cms) FHD 240Hz/3ms, Intel Core i9-11900H 11th Gen, RTX 3060 6GB Graphics Gaming Laptop (16GB/1TB SSD/Office 2019/Windows 10/Black/2.3 kg), FX506HM-AZ099TS',
 'ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i9-11900H 11th Gen, RTX 3060 6GB Graphics Gaming Laptop (16GB RAM/1TB SSD/Office 2019/Windows 10/Gray/2.3 kg), FX566HM-HN097TS',
 'HP ZBOOK Power G8/ Intel core i9-11900H 8 Core/32GB DDR4 3200 RAM/1TB PCIe NVMe TLC SSD /15.6” FHD /Nvidia Quadro T1200 Dedicated Graphics 4GB DDR6 /Windows 10 Pro / 3 Year Warranty',
 '(Renewed) Dell G7 7500 15.6inch FHD 300 Hz Display Gaming Laptop (10th Gen i9-10885H / 16 GB / 1TB SSD / NVIDIA RTX 2070 8GB Graphics / 1Yr Premium Warranty / Win 10 + MS Office H&S 2019) D560233WIN9B, Black',
 '(Renewed) DELL XPS 7590 15.6-inch UHD Display Laptop (9th Gen Core i9-9980HK/32GB/1TB SSD/Win 10 + MS Office/4GB Nvidia Graphics), Abyss Grey',
 'HP Zbook - Intel i9, 15 inch(39.6 cm)FHD 400 Nits Display, Thin & Light , Anti-Glare(32GB RAM/1TB M.2 SSD/Nvidia RTX A2000 4GB Graphics/Win10 Pro/IR Camera/ HP Zbook Power G8 Mobile Workstation',
 'Dell Precision 5550 || i9 -10885H || 16GB || 1TB NVMe || T2000 4 GB || Win 10 Pro (Free Upgrade Win 11Pro) / 15.6 FHD+ / 3 Year ADP',
 'Z2 G5 Workstation 700W /Core i9-10900 (2.8GHz 10C) /16GB RAM/512GB SSD+1TB SATA/Nvidia RTX 3070 8GB Graphics/DVDRW/Windows 10 Pro/3 Year Warranty']

In [447]:
pro_rating = driver.find_elements_by_xpath('//a[@class="a-popover-trigger a-declarative"]')

rating = []

for i in pro_rating:
    rating.append(i.text)

rating

['', '', '']

In [448]:
price = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')

pro_price = []

for i in price:
    pro_price.append(i.text)

pro_price

['1,44,990',
 '1,43,990',
 '1,39,990',
 '2,45,000',
 '2,25,000',
 '1,75,000',
 '2,54,563',
 '2,39,000']

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button
4. You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data

In [90]:
driver = webdriver.Chrome(r'C:\Users\DELL\Downloads\chromedriver_win32\chromedriver.exe')
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [91]:
job_tab = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
job_tab

In [92]:
job_tab.click()

In [93]:
search_icon = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
search_icon

In [94]:
search_icon.send_keys("Data Scientist")

In [95]:
search_btn = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button/span')
search_btn
search_btn.click()

In [96]:
search_locn = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
search_locn
search_locn.click()

In [97]:
search_locn = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search_locn

In [98]:
search_locn.send_keys("Noida")

In [99]:
locn_check = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/input')
locn_check.click()

### Extracting job titles, Location, Company Names and Experience

In [100]:
title_tags = driver.find_elements_by_xpath('//a[@class="title noclick"]')

job_titles = []

for i in title_tags:
    job_titles.append(i.text)

job_titles

['Data Scientist',
 'Urgent Requirement || Data Scientist || Noida',
 'Opportunity | Tavant India',
 'Looking For Senior Data Scientist For Denave',
 'EY GDS - Assistant Director - Data Science - AI/ML (15-20 yrs)',
 'Lead Assistant Manager',
 'Data Scientist | Data Engineer | Machine Learning',
 'Data Scientist - Machine Learning (5-14 yrs)',
 'Manager Data Scientist',
 'Data Scientist']

In [101]:
locn_tags = driver.find_elements_by_xpath('//div[@class="entity loc"]')

location = []

for i in locn_tags:
    location.append(i.text)

location

['Noida',
 'Noida',
 'Delhi NCR, Noida',
 'Bengaluru/Bangalore, Hyderabad/Secunderabad, Noida +1 more',
 'Noida',
 'Bengaluru/Bangalore, Noida, Pune',
 'Noida, Gurgaon/Gurugram, Bengaluru/Bangalore +1 more',
 'Noida',
 'Bengaluru/Bangalore, Noida',
 'Noida',
 'Noida']

In [102]:
com_tags = driver.find_elements_by_xpath('//p[@class="company body-medium"]')

com_names = []

for i in com_tags:
    com_names.append(i.text)

com_names

['Jubilant Foodworks Limited',
 'HCL Technologies',
 'Tavant Technologies India Pvt. Ltd.',
 'Denave India Pvt Ltd.',
 'EY GDS',
 'EXL Service',
 'Pitney Bowes India Pvt ltd',
 'Zyoin',
 'Ameriprise Financial',
 'Jubilant Foodworks Limited']

In [103]:
job_info = driver.find_elements_by_xpath('//div[@class="job-basic-info show-flex"]')

info = []

for i in job_info:
    info.append(i.text)

info

['2-5 years\nNot Disclosed\nNoida',
 '2-5 Yrs\nNot Disclosed\nNoida\nData Scientist, Python, MySQL',
 '3-8 Yrs\nNot Disclosed\nDelhi NCR, Noida\nMachine Learning, Deep Learning, Python +1 more',
 '4-9 Yrs\nNot Disclosed\nBengaluru/Bangalore, Hyderabad/Secunderabad, Noida +1 more\ndata scientist, Machine Learning, Python',
 '7-12 Yrs\n₹ 14-20 LPA\nNoida\ndeep learning, python, cnn +7 more',
 '15-20 Yrs\nBengaluru/Bangalore, Noida, Pune\nData Science, Artificial Intelligence, Machine Learning +6 more',
 '0-5 Yrs\nNot Disclosed\nNoida, Gurgaon/Gurugram, Bengaluru/Bangalore +1 more\nPredictive Analytics, Speech Analytics, OCR +5 more',
 '4-9 Yrs\n₹ 10-20 LPA\nNoida\nPython, Jupyter, Pyspark +10 more',
 '5-14 Yrs\nBengaluru/Bangalore, Noida\nData Scientist, Data Management, PhD +6 more',
 '4-6 Yrs\nNot Disclosed\nNoida\nAutomation, Analytics, Asset management +7 more',
 '3-6 Yrs\n₹ 30-45 LPA\nNoida\nData Science, Deep Learning']

In [104]:
len(job_titles), len(location), len(com_names), len(info)
(20, 20, 20, 20)

(20, 20, 20, 20)

In [105]:
df = pd.DataFrame({'Job Title': job_titles, 'Location': location, 'Company': com_names, 'Job Info': info})
df

ValueError: arrays must all be same length

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [49]:
driver = webdriver.Chrome(r'C:\Users\DELL\Downloads\chromedriver_win32\chromedriver.exe')
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [50]:
sal_tab = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
sal_tab

In [51]:
sal_tab.click()

In [59]:
job_profile = driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
job_profile
job_profile.send_keys("Data Scientist")

In [62]:
company = driver.find_elements_by_xpath('//div[@class="name"]')

com_names = []

for i in company:
    com_names.append(i.text)

com_names

['Tekion\nbased on 10 salaries',
 'Microsoft Corporation\nbased on 227 salaries',
 'Goldman Sachs\nbased on 12 salaries',
 'Flipkart\nbased on 53 salaries',
 'PayPal\nbased on 22 salaries',
 'Amazon\nbased on 89 salaries',
 'Servicenow Software Development India\nbased on 41 salaries',
 'Arcesium\nbased on 48 salaries',
 'Walmart\nbased on 82 salaries',
 'ServiceNow\nbased on 18 salaries']

In [64]:
total_sal_rec = driver.find_elements_by_xpath('//span[@data-v-2bae05f7]')

sal_rec = []

for i in total_sal_rec:
    sal_rec.append(i.text)

sal_rec

['based on 10 salaries',
 ' . ',
 'based on 227 salaries',
 ' . ',
 'based on 12 salaries',
 ' . ',
 'based on 53 salaries',
 ' . ',
 'based on 22 salaries',
 ' . ',
 'based on 89 salaries',
 ' . ',
 'based on 41 salaries',
 ' . ',
 'based on 48 salaries',
 ' . ',
 'based on 82 salaries',
 ' . ',
 'based on 18 salaries',
 ' . ']

In [69]:
avg_sal = driver.find_elements_by_xpath('//p[@class="averageCtc"]')

a_sal = []

for i in avg_sal:
    a_sal.append(i.text)

a_sal

['₹ 23.3L',
 '₹ 23.1L',
 '₹ 22.1L',
 '₹ 20.9L',
 '₹ 20.0L',
 '₹ 19.3L',
 '₹ 19.0L',
 '₹ 18.4L',
 '₹ 18.0L',
 '₹ 17.3L']

In [71]:
min_max_sal = driver.find_elements_by_xpath('//div[@class="value body-medium"]')

m_sal = []

for i in min_max_sal:
    m_sal.append(i.text)

m_sal

['₹ 14.0L',
 '₹ 32.0L',
 '₹ 13.0L',
 '₹ 45.0L',
 '₹ 16.0L',
 '₹ 30.0L',
 '₹ 7.5L',
 '₹ 30.0L',
 '₹ 12.0L',
 '₹ 28.4L',
 '₹ 8.0L',
 '₹ 41.5L',
 '₹ 12.0L',
 '₹ 25.8L',
 '₹ 12.0L',
 '₹ 30.0L',
 '₹ 10.0L',
 '₹ 32.0L',
 '₹ 11.0L',
 '₹ 23.0L']

In [73]:
len(com_names), len(sal_rec), len(a_sal), len(m_sal)

(10, 20, 10, 20)

In [75]:
df = pd.DataFrame({'Company': com_names, 'Average Salary': a_sal})
df

                                             Company Average Salary
0                       Tekion\nbased on 10 salaries        ₹ 23.3L
1       Microsoft Corporation\nbased on 227 salaries        ₹ 23.1L
2                Goldman Sachs\nbased on 12 salaries        ₹ 22.1L
3                     Flipkart\nbased on 53 salaries        ₹ 20.9L
4                       PayPal\nbased on 22 salaries        ₹ 20.0L
5                       Amazon\nbased on 89 salaries        ₹ 19.3L
6  Servicenow Software Development India\nbased o...        ₹ 19.0L
7                     Arcesium\nbased on 48 salaries        ₹ 18.4L
8                      Walmart\nbased on 82 salaries        ₹ 18.0L
9                   ServiceNow\nbased on 18 salaries        ₹ 17.3L